.ingredient_item_container {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

.ingredient_item_image {
    padding: 0;
    width: 100%;
    height: auto;
    max-width: 240px;
    max-height: 120px;
}