.burger_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 600px;
    box-sizing: border-box;
    height: calc(100vh - 150px);
}

.burger_constructor_wrapper {
    display: grid;
    grid-template-rows: min-content auto min-content 1fr;
    justify-items: end;
    gap: 16px;
    height: 90%;
}

.burger_constructor_list {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: flex-end;
    overflow-y: auto;
    box-sizing: border-box;
}

.burger_button_wrapper {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    margin-bottom: auto;

}

.burger_description {
    align-items: center;
    display: inline-flex;
    gap: 4px;
}
