.container {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    height: calc(100vh - 220px);
    box-sizing: border-box;
}

.contentWrapper {
    flex: 1;
    overflow-y: auto;
    box-sizing: border-box;
}

.constructorList {
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    align-items: flex-end;
}

.constructorItem {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    list-style-type: none;
    padding: 0;
}

.constructorElement {
    width: 100%;
}

.buttonWrapper {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}

.description {
    align-items: center;
    display: inline-flex;
    gap: 4px;
}
