.container {
    display: flex;
    flex-direction: column;
}

.ingredient_description {
    display: flex;
    align-items: center;
    gap: 20px;
}

.ingredients_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 24px 0;
    margin: 0 0 40px 0;
    height: 300px;
    overflow: scroll;

    gap: 16px;
}

.status {
    align-self: flex-start;
}

.ingredient_list_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.price {
    display: flex;
    gap: 10px;
}

.title {
    align-self: flex-start;
}

.price_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img_background {
    display: flex;
    border: 3px solid transparent;
    border-radius: 50%; 
    background-image: linear-gradient(to right, #801AB2, #4C4CFF);
    background-origin: border-box;
    background-clip: content-box, border-box; 
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
}

.img_container {
    position: relative;
    width: 90%;
    height: 90%;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1C21;
}
  
.img {
  position: absolute;
  width: 110px;
  height: auto;
}
