.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    padding: 12px;
    border-radius: 20px;

    background-color: #1C1C21;
}
  .titleWrapper {
    display: flex;
    justify-content: space-between;
}
  
  .orderIdTitle {

  }
  
  .dateTitle {
    color: #8585AD;
  }
  
  .title {
  }
  
  .ingredientsWrapper {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
  }

  .priceWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .ingredientsList {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .ingredientListItem {
    display: flex;
    border: 3px solid transparent;
    border-radius: 50%; 
    background-image: linear-gradient(to right, #801AB2, #4C4CFF);
    background-origin: border-box;
    background-clip: content-box, border-box; 
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
  }

.imgBackground {
  width: 90%;
  height: 90%;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1C1C21;

  .img {
    width: 110px;
    height: auto;
  }
}
  
  .price {
  }
  