.menu_wrapper {
    margin: 0 auto;
    min-width: 1240px;
    display: flex;
    justify-content: space-between;
}
.menu_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 88px;
    background-color: #1C1C21;
    z-index: -1;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
}
.menu_item {
    list-style: none;
}

.menu_button {
    white-space: nowrap;
    text-decoration: none;
    display: flex;
    column-gap: 8px;
    color: #8585AD;
    
    :hover {
        color: white;
    }
}

.menu_button_active {
    color: white;
}


.logo {
    margin-right: 200px;
}